@import "tailwindcss";

@theme {

    --color-zen-deep: #0D0D0D;
    --color-zen-card: #1A1A1A;
    --color-zen-neon: #C6FF5E;
    --color-zen-input: #262626;
    --color-zen-muted: #9CA3AF;

    --shadow-neon-glow: 0 0 20px rgba(198, 255, 94, 0.3);
}